[Unit]
Description=Prometheus pgBackRest Exporter
After=network.target postgresql-16.service

[Service]
User=postgres
Group=postgres
Type=simple
ExecStart=/usr/local/bin/pgbackrest_exporter   --web.listen-address=:9854   --backrest.config=/etc/pgbackrest.conf   --collect.interval=60
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
